#div_main {
  position: relative;
  top:0px;
  width: 750px;
  margin: 0 auto;
}

.user_search {
  margin: 5px;
  padding: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;

}

.user_search .search_form {
  width: 330px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 0 14px rgba(229,229,229,1) inset;

}

.user_search #search_text{
  float: left;
  width: 70%;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user_search #search_btn{
  width: 33%;
  margin-left: -13px;
  height: 36px;
  background-color: green;
  border: 1px solid #388c3c;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

/* ************************************************************************* */
.div_body {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 10px;
}

.homemenu {
height: 30px;
background-color: orange;
padding-top: 10px;
border-radius: 10px;
margin-bottom: 10px;
}

li {
    display: inline;
    list-style: none;
}

li a {
  font-size: 12px;
  background-color: white;
  border: 1px solid  white;
  border-radius: 4px;
  padding:5px;
  text-decoration: none;
  color: #1c94c4;
  font-weight: bold
}


.span_btn {
  color: #1c94c4;
  font-weight: bold;
  font-size: 14px;
}

.classification {
  border-bottom: 1px solid #1c94c4;
  display: block;
  height: 55px;
  margin-left: 15px;
}

.div_btn {
  border: 1px solid #1c94c4;
  background-color: white;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

#btn_home {

}

#btn_write {
  margin-top: 15px;
}

#btn_back {
  margin-left: 230px;
}

#btn_number {
  margin-top: 15px;
  margin-left: 10px;
}

#btn_next {
  margin-top: 15px;
  margin-left: 10px;
}

.class_home {
  height: 63px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #1c94c4;
}

.class_menu {
  border: 1px solid #1c94c4;
  background-color: white;
  float: left;
  width: 16%;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  margin-right: 2px;

}

/* ************************************************************************ */

#blank {
  border-bottom: 1px solid #1c94c4;
}

/* ************************************************************************ */

.content {
  margin-top: 7px;
}

.like {
  display: grid;
  grid-column: 1;
  grid-row: 2/5;
  width: 72px;
  overflow: hidden;
  float: left;
}

#like_hit {
  text-align: center;
}

.movie_thumbnail {
  width: 122px;
  height: 80px;
  float: left;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}

.title .ut {
  color: #2955BC;
  font-size: 14pt;
  text-decoration: none;
}

.title .yt {
  color: #D0D;
  font-size: 10pt;
}

.title .wt {
  color: #77D;
  font-size: 11px;
}

.title {
  display: grid;
  grid-column: 1;
  overflow: hidden;
}

.comment {
  height: 30px;
  border-bottom: 1px solid #1c94c4;
}

.comment .co {
  border: 1px solid #dddddd;
  background-color: white;
  color: #333333;
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.comment .re {
  background: #FDD;
  padding: 3px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 10pt;
  float: right;
  margin-right: 5px;
}

.comment .cl {
  background: #DDF;
  padding: 3px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 10pt;
  float: right;
}
